@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: 'Open Sans';
  text-align: center;
  background: #ece6d9;
}
.typed{
    color: grey;
}

.wronglyTyped{
    color: red;
}
.cursor{
    position:absolute;
    transform:translateX(-50%);
}